* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.section-container {
  max-width: 69rem;
  padding: 0 32px;
  margin: 0 auto;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
}

.header .section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  height: 64px;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
}

.header-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  color: #f9faf8;
}

.hero .section-container {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  justify-content: space-between;
  align-content: center;
  gap: 32px;
  height: 650px;
}

.hero-description {
  max-width: 500px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 8px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 16px;
}

.hero-button {
  background-color: #3882f6;
  color: inherit;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 32px;
  border-radius: 10px;
}

.hero-image {
  width: 470px;
}

.information {
  background-color: #f9faf8;
  color: #1f2937;
  text-align: center;
}

.information .section-container {
  padding: 48px 32px 96px 32px;
}

.information-header {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 48px;
}

.informations-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}

.information-wrapper {
  max-width: 190px;
}

.information-image {
  border-radius: 12px;
  border: #3882f6 4px solid;
  max-width: 190px;
}

.information-text {
  font-size: 18px;
}

.quote {
  background-color: #e5e7eb;
}

.quote .section-container {
  padding: 96px 32px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  max-width: 880px;
  margin: 0 auto;
}

.quote-text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.author {
  font-size: 24px;
  color: #1f2937;
}

.sign-up {
  background-color: #f9faf8;
}

.sign-up .section-container {
  display: flex;
  padding: 96px 32px;
}

.sign-up-card {
  background-color: #3882f6;
  color: #f9faf8;
  flex: 1;
  padding: 48px;
  border-radius: 10px;
}

.sign-up-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 880px;
  margin: 0 auto;
}

.sign-up-header {
  font-size: 24px;
  font-weight: 900;
}

.sign-up-text {
  font-size: 18px;
}

.sign-up-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 32px;
  border: #f9faf8 solid 2px;
  border-radius: 10px;
  flex: none;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.footer .section-container {
  text-align: center;
  padding: 32px;
}

.footer-text {
  font-size: 18px;
}
